@charset "utf-8";

body {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    font-weight: normal;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin-bottom: 20px;
    height: 60px;
    background-color: #545454;
    color: #fff;
    box-shadow: 0px 2px 2px #ccc
}

.imageLogo {
    display: flex;
    align-items: center;
}

h2 {
    margin-left: 10px;
}

#conteudo {
    padding: 0px 8px
}

footer {
    border-top: 1px solid #ccc;
    padding: 5px 8px;
    margin-top: 20px;
    margin-bottom: 10px
}

h1 {
    font-size: 24px;
    font-weight: 500;
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px
}

.nav {
    margin-right: 20px;
}

.icon-spacing {
    margin-right: 5px;
}

